/*Adjust Padding of body
body {
    padding: 0;
    margin: 0;
  }
  

#map {position:absolute; top:9%; bottom:0; width:100%;}



.sigline{
  color: rgb(20, 166, 204);
  text-align: center;
  background: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  padding-right: 20pt;
  
}

.legend {
    text-align: Left;
    line-height: 18px;
    opacity: 1;
    
  }
